<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.link.component_update">

    <application>

        <activity
            android:name=".ui.UpdateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/update_dialog" />
        <service
            android:name=".ui.UpdateService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>