<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.link.component_shopping">

    <application>
        <activity
            android:name=".ui.shopping.ShoppingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:process=":shopping"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.ShoppingServiceImpl"
            android:enabled="true"
            android:exported="false"
            android:process=":shopping" />
    </application>

</manifest>